.carousel-products{
    margin: 10px auto 10px;
    padding: 10px 0 0;
    height: 100px;
    max-height: 400px;
    min-height: 220px;
    width: 100%;
}
.carousel-content{
    margin: auto;
    width: 140px;
    perspective: 1000px;
    padding-top: 40px;
}
.carousel-item-holder{
    width: 100%;
    animation: rotate 20s infinite linear;
    transform-style: preserve-3d;
}
.carousel-item-holder:hover{
    animation-play-state: paused;
    cursor: pointer;
}
.carousel-item{
    width: 140px;
    height: 90px;
    border: 2px solid rgba(27, 27, 27, 0.8);
    overflow: hidden;
    position: absolute;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    background-color: white;
}
.carousel-item:nth-child(1) {
	transform: rotateY(0deg) translateZ(140px); 
} 
.carousel-item:nth-child(2) {
	transform: rotateY(60deg) translateZ(140px); 
} 
.carousel-item:nth-child(3) {
	transform: rotateY(120deg) translateZ(140px); 
} 
.carousel-item:nth-child(4) {
	transform: rotateY(180deg) translateZ(140px); 
} 
.carousel-item:nth-child(5) {
	transform: rotateY(240deg) translateZ(140px); 
} 
.carousel-item:nth-child(6) {
	transform: rotateY(300deg) translateZ(140px); 
}
.carousel-item img{
    /*image-rendering: auto;*/
    transition: all 300ms;
    width: 100%;
    height: 80%;
}
.carousel-item h2{
    margin-top: 2px;
    font-size: 10px;
}
.carousel-item img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}

@keyframes rotate{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
    
}
@media (min-width: 768px) and (max-width: 1199.8px){
    .carousel-item h2{
        margin-top: 5px;
        font-size: 10px;
    }
    .carousel-products{
        height: 140px;
    }
    .carousel-content{
        width: 200px;
    }
    .carousel-item{
        width: 200px;
        height: 110px;
    }
    .carousel-item:nth-child(1) {
	    transform: rotateY(0deg) translateZ(200px); 
    } 
    .carousel-item:nth-child(2) {
	    transform: rotateY(60deg) translateZ(200px); 
    } 
    .carousel-item:nth-child(3) {
	    transform: rotateY(120deg) translateZ(200px); 
    } 
    .carousel-item:nth-child(4) {
	    transform: rotateY(180deg) translateZ(200px); 
    } 
    .carousel-item:nth-child(5) {
	    transform: rotateY(240deg) translateZ(200px); 
    } 
    .carousel-item:nth-child(6) {
	    transform: rotateY(300deg) translateZ(200px); 
    }
}
@media (min-width: 1200px){
    .carousel-item h2{
        margin-top: 5px;
        font-size: 16px;
    }
    .carousel-products{
        height: 280px;
    }
    .carousel-content{
        width: 240px;
    }
    .carousel-item{
        width: 240px;
        height: 140px;
    }
    .carousel-item:nth-child(1) {
	    transform: rotateY(0deg) translateZ(240px); 
    } 
    .carousel-item:nth-child(2) {
	    transform: rotateY(60deg) translateZ(240px); 
    } 
    .carousel-item:nth-child(3) {
	    transform: rotateY(120deg) translateZ(240px); 
    } 
    .carousel-item:nth-child(4) {
	    transform: rotateY(180deg) translateZ(240px); 
    } 
    .carousel-item:nth-child(5) {
	    transform: rotateY(240deg) translateZ(240px); 
    } 
    .carousel-item:nth-child(6) {
	    transform: rotateY(300deg) translateZ(240px); 
    }
}