.carousel-products{
    margin: 20px auto 0;
    padding: 20px 0 0;
    height: 25vw;
    max-height: 400px;
    min-height: 220px;
    width: 80vw;
    /*overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;*/
}
.carousel-content{
    margin: auto;
    /*width: 300px;*/
    width: 16vw;
    perspective: 1000px;
    padding-top: 40px;
}
.carousel-item-holder{
    width: 100%;
    animation: rotate 20s infinite linear;
    transform-style: preserve-3d;
}
.carousel-item-holder:hover{
    animation-play-state: paused;
    cursor: pointer;
}
.carousel-item{
    /*width: 300px;
    height: 170px;*/
    width: 16vw;
    height: 10vw;
    max-width: 300px;
    max-height: 170px;
    border: 2px solid rgba(27, 27, 27, 0.8);
    overflow: hidden;
    position: absolute;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}
.carousel-item:nth-child(1) {
	transform: rotateY(0deg) translateZ(16vw); 
} 
.carousel-item:nth-child(2) {
	transform: rotateY(60deg) translateZ(16vw); 
} 
.carousel-item:nth-child(3) {
	transform: rotateY(120deg) translateZ(16vw); 
} 
.carousel-item:nth-child(4) {
	transform: rotateY(180deg) translateZ(16vw); 
} 
.carousel-item:nth-child(5) {
	transform: rotateY(240deg) translateZ(16vw); 
} 
.carousel-item:nth-child(6) {
	transform: rotateY(300deg) translateZ(16vw); 
}
.carousel-item img{
    /*image-rendering: auto;*/
    transition: all 300ms;
    width: 100%;
    height: 100%;
}
.carousel-item img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}

@keyframes rotate{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
    
}