header{
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(44, 44, 44, 0.8);
    background-color: white;
    border-bottom: 1px solid var(--buttons-color);
}
.header_logo img{
    margin: 2px 0 0 4px;
    width: 50px;
}
.header_title h1 {
    text-align: center;
    font-size: 1.2rem;
    flex-basis: 100%;
    
}
.header_cart img{
    width: 50px;
    margin: 2px;
    margin-right: 20px;
}
:root {
    --container-bg-color: white;
    --buttons-color:rgba(9, 84, 134, 0.8);
}

/* MEDIA--------------------------------------------------------------------*/

@media (min-width: 768px){
    header{
        height: 84px;
    }
    .header_title h1{
        font-size: 2.0rem;
    }
    .header_logo img{
        margin: 2px 0 0 30px;
        width: 70px;
    }
    .header_cart img{
    width: 60px;
    margin: 2px;
    margin-right: 50px;
    }
}