*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(15, 138, 155, 0.8);
    text-align: center;
}

/* HEADER */

.header {
    height: 56px;
    background-color: white;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    /*overflow: hidden;*/
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1337;
}
.desktop-navbar {
    font-size: 1.2rem;
    top: 0;
    display: flex;
    display: none;
    justify-content: space-between;
}
.desktop-navbar ul {
    list-style: none;
    color: rgba(15, 138, 155, 0.8);
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    overflow: hidden;
    display: flex;
}
.desktop-navbar li a {
    color: rgba(15, 138, 155, 0.8);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    margin: 0 2px;
}
.desktop-navbar li a:hover, .desktop-navbar li a.active {
    background-color: rgba(15, 138, 155, 0.8);
    color: #333;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.mobile-navbar{
    /*display: none;
    display: flex;
    flex-wrap: wrap;*/
    display: block;
    border: 2px solid green;
}
.mobile-nav{
    /*width: 100vw;*/
    height: 56px;
    border: 2px solid yellow;
}
button{
    height: 52px;
    width: 52px;
    float: left;
    background-color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}
button .fa{
    font-size: 2rem;
    margin: 10px;
    color: rgb(15, 138, 155);
}
.mobile-dropdown-menu{
    /*display: none;
    width: 100vw;*/
    border: 2px solid red;
}
.mobile-dropdown-container{
    height: 96vh;
    border: 2px solid black;
}
.mobile-dropdown ul{
    list-style: none;
}
.mobile-dropdown ul li{
    margin: 12px;
    float: left;
}
.mobile-navbar ul li a{    
    text-decoration: none;
    color: rgb(15, 138, 155);
}
.mobile-dropdown{
    float: left;
    height: 200px;
    width: 150px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.6);
}
#mobile-menu:target{
    display: block;
}

/* MAIN */

main {
    padding: 1px;
    min-height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.6)), url(../pictures/legoBG.jpg);
    background-size: cover;
}
h1 {
    font-size: 2rem;
}

/* FOOTER */

footer {
    background-color: rgb(255, 255, 255);
    border-top: 2px solid rgba(0, 0, 0, 0.4);
}
/*
@media (min-width: 768px) and (max-width: 991.98px){
    
}
@media (min-width: 578px) and (max-width: 767.98px){
    
}
@media (max-width: 575.98px){
    .desktop-navbar{
        display:none;
    }
    .mobile-navbar{
        display: contents;
    }
}