*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
body {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(44, 44, 44, 0.8);
    
}
:root {
    --container-bg-color: white;
    --buttons-color:rgba(9, 84, 134, 0.8);
}

/* MAIN */

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    min-height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.6)), url(../pictures/legoBG.jpg);
    background-size: cover;
}

/* CARDS */

.card-container {
    width: 80%;
    min-width: 244px;
    margin: 10px auto 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    border: 1px solid var(--buttons-color);
}
.card-container h2 {
    flex-basis: 100%;
    font-size: 2rem;
    text-align: center;
    margin: 10px 0 0;
    color: rgba(44, 44, 44, 0.8);
}
.card_map_holder{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
}
.card_map_holder img{
    width: 200px;
}
.card_map {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--buttons-color);
    border-radius: 5px;
    background-color:var(--container-bg-color);
    padding: 6px;
    align-items: center;
    margin: 10px 14px 14px;
}
.card_info_holder{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
}
.card_info img{
    width: 200px;
}
.card_info{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(9, 84, 134, 0.8);
    border-radius: 5px;
    background-color: var(--container-bg-color);
    padding: 6px;
    align-items: center;
    margin: 10px 14px 14px;
}
.card-text{
    margin: 0 5px;
}
.card-text h2{
    font-size: 1.2rem;
}
.card-text h4{
    font-size: 0.8rem;
}
.card p{
    color: #000;
    margin: 6px;
    font-size: 0.8rem;
}
.card-buttons{
    display: flex;
    margin: 5px;
    justify-content:flex-end;
}
.card-buttons a{
    font-size: 0.8rem;
    background-color: rgba(9, 84, 134, 0.8);
    color: white;
    text-decoration: none;
    padding: 6px;
    border-radius: 5px;
    margin: 2px;
    border: 2px solid rgba(0, 0, 0, 0.2);
}
.card-buttons a:hover{
    box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.8);
}

/* MEDIA--------------------------------------------------------------------*/

@media (min-width: 768px){
    .card-container{
        flex-direction: row;
        padding: 20px 20px 40px;
    }
    .card-container h1 {
        font-size: 2.5rem;
    }
    .card_map_holder{
        width: 300px;
    }
    .card_map img{
        width: 280px;
        margin: 16px 10px;
    }
    
    .card_info_holder{
        width: 300px;
    }
    .card_info{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .card-buttons a{
        font-size: 1rem;
    }
    .card-text h2{
        font-size: 1.4rem;
    }
    .card-text h4{
        font-size: 1rem;
    }
    .card p{
        font-size: 1rem;
    }
}
@media (min-width: 1200px){
    .card-container{
        width: 90%;
        height: 600px;
    }
    .card_map img{
        width: 400px;
        margin: 20px 0;
    }
}