.lightbox{
    display: none;
    position: fixed;
    z-index: 2000;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
}
:root {
    --container-bg-color: white;
    --buttons-color:rgba(9, 84, 134, 0.8);
}
.lightbox img{
    width: 60%;
    max-width: 600px;
    height: auto;
    margin-top: 100px;
}
.lightbox:target{
    outline: none;
    display: block;
}
.cart-add{
    width: 50vw;
    height: auto;
    min-height: 280px;
    min-width: 200px;
    margin: 100px auto;
    background-color: var(--container-bg-color);
}
.cart-add img{
    margin-top: 50px;
}
.lightbox-cart a{
    text-decoration: none;
    color: var(--buttons-color);
}
.lightbox-cart h2{
    font-size: 1.3rem;
    margin-bottom: 4px;
}
.add-item-text{
    margin-top: 1vw;
}