.nav_container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.nav{
    width: 80%;
    height: 60px;
    margin: 4px 0;
    display: flex;
    justify-content: flex-end;
    background-color: white;
    border: 1px solid rgba(15, 138, 155, 0.9);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

/* NAV MOBILE---------------------------------------------------------------*/

.nav_mobile{
    margin-right: 20px;
    padding: 40px 0 5px;
    display: flex;
    align-self: flex-end;
}
.nav_mobile_menu{
    display: none;
    position: absolute;
    width: 200px;
    right: -21px;
    top: 90px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(15, 138, 155, 0.9);
    border-bottom-left-radius: 4px;
    z-index: 1;
}
.nav_mobile_menu li{
    list-style: none;
    margin: 10px 0;
    padding: 10px 20px;
}
.nav_mobile_menu li a{
    text-decoration: none;
    color: rgba(15, 138, 155, 0.8);
    font-size: 30px;
}
input{
    position: relative;
    width: 45px;
    height: 30px;
    top: 5px;
    left: 1px;
    z-index: 1;
    opacity: 0;
}
.nav_mobile{
    position: relative;
    height: 90px;
}
.nav_hamburger_button{
    position: absolute;
    top: 45px;
    left: -2px;
}
.nav_hamburger_button span{
    display: block;
    width: 40px;
    height: 4px;
    background-color: black;
    margin: 5px;
    border-radius: 2px;
}
input:hover{
    cursor: pointer;
}
#mobile_menu a:hover{
    color: rgba(15, 138, 155, 0.8);
}
.nav_ham_button:checked + .nav_mobile_menu{
    display: block;
}
.nav_mobile_menu .active a{
    border-bottom: 1px solid rgba(15, 138, 155, 0.8);
}

/* NAV DESKTOP-------------------------------------------------------------*/

.nav_desktop{
    display: none;
}
.nav_desktop ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    /*margin-right: 10px;*/
    list-style: none;
}
.nav_desktop ul li{
    margin: 5px 15px;
}
.nav_desktop a{
    padding: 8px 10px;
    text-decoration: none;
    color: rgba(15, 138, 155, 0.8);
    border-radius: 4px;
}
.nav_desktop a:hover{
    background-color: rgba(15, 138, 155, 0.8);
    color: white;
}
nav .nav_desktop ul .active a{
    background-color: rgba(15, 138, 155, 0.8);
    color: white;
}

/* MEDIA--------------------------------------------------------------------*/

@media (min-width: 768px){
    .nav_container{
    justify-content: center;
}
    .nav{
        width: 60%;
        justify-content: center;
        border-radius: 12px;
    }
    .nav_mobile{
        display: none;
    }
    .nav_desktop{
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
    .nav_desktop ul li{
        margin: 5px 15px;
    }
    main{
        flex-direction: row;
    }
    .main_image{
        width: 85%;
    }
    .side_menu{
        order: -1;
        width: 200px;
    }
    
}
@media (min-width: 992px){
    .nav_desktop{
        display: flex;
        font-size: 20px;
    }
}
@media (min-width: 1200px){
    .nav_desktop{
        min-width: 570px;
    }
    .nav_desktop ul li{
    margin: 10px 15px;
    }
}
@media (min-width: 1680px){
    .nav_desktop ul li{
        margin: 10px 30px;
    }
}