.puff-container1 {
    width: 80vw;
    height: 40vh;
    min-height: 280px;
    margin: 40px auto 60px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
}
.puff-container1 h1 {
    font-size: 2rem;
    text-align: center;
    margin: 10px 0 0;
    color: rgba(0, 100, 160, 0.8);
}
.puff-container1 > .puff {
    padding: 10px;
    float: left;
    width: 33.333%;
}
.puff {
    height: 40vh;
}
.puff img{
    height: 50%;
    min-height: 130px;
    border-radius: 5%;
}
.puff a{
    text-decoration: none;
    color: rgba(0, 100, 160, 0.8);
}
.puff .ingress{
    font-size: 1.1rem;
    font-weight: bold;
}